<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Coach</string>
	<key>CFBundleExecutable</key>
	<string>Coach</string>
	<key>CFBundleIconFile</key>
	<string>Coach</string>
	<key>CFBundleIdentifier</key>
	<string>com.chanson.coach</string>
	<key>CFBundleName</key>
	<string>Coach</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Coach selection</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>chanson-coach</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>arm64</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
